/* SHAPE TRIANGULE TOP*/
.custom-shape-divider-top-1692901662 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
  pointer-events: none;
}


/* WAVES OPACITY PRESENTATION */
.custom-shape-divider-top-1692901662 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1692901662 .shape-fill {
  fill: #ffffff90;
}

.custom-shape-divider-top-1692742317 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  pointer-events: none;
}

.custom-shape-divider-top-1692742317 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 250px;
}

.custom-shape-divider-top-1692742317 .shape-fill {
  fill: var(--persian-green);
}


/* BOTTOM SHAPE WAVES OPACITY */
.custom-shape-divider-bottom-1692902009 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
  pointer-events: none;
}

.custom-shape-divider-bottom-1692902009 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 250px;
}

.custom-shape-divider-bottom-1692902009 .shape-fill {
  fill: #ffffff;
}
