@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  --bunker: #040606;
  --caribbean-green: #04c2a3;
  --gossamer: #049b82;
  --persian-green: #04b494;
  --watercourse: #04725e;
  --observatory: #048c73;
  --watercourse: #045e4c;
  --niagara: #04a88e;
  --niagara: #04a484;
  --evening-sea: #04544c;
}

.custom-shape-divider-top-1692742317 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1692742317 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 250px;
}

.custom-shape-divider-top-1692742317 .shape-fill {
  fill: rgba(255, 0, 0, 0.1);
}